!!!html
%html
  %head
    %title
      About | Ruby on Rails Tutorial Sample App
%body
  %h1 About
  %p
    The
    %a(href="http://www.railstutorial.org")
      %em Ruby on Rails
      Tutorial
    is a
    %a(href="http://railstutorial.jp")
      %em Ruby on Rails Tutorial
      book
    and
    %a(href="http://screencasts.rubyonrails.org") screencast sereies
    to teach web development with
    %a(href="http://rubyonrails.org") Ruby on Rails
    \.
    This is the sample application for the tutorial.
